.card {
    border: 1px #757575 solid;
    text-align: center;
    margin: 0 5px 10px;
    width: 20%;
  }

  .cardTitle {
    padding: 10px 0;
  }

  @media only screen and (max-width: 768px) {
    .card {
      width: 45%;
    }
  }