.filterMenu {
    margin: 0 10px;
    background: url(../icons/arrow.svg) no-repeat 100% 50%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    padding: 10px 10px 10px 5px;
    min-width: 30%;
    border: none;
    border-bottom: 1px solid #A4C3B2;
    outline: none;
    cursor: pointer;
    color: #34463E;
    font-size: 14px;
}

.filterMenuOptions {
    margin-right: 10px;
}

@media only screen and (max-width: 768px) {
    .filterMenu {
        margin: 0 5px;
        width: 45%;
        font-size: 12px;
    }
  }